<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WaterBottles.Properties.Settings.WaterBottlesConnectionString"
            connectionString="Data Source=DESKTOP-LC61Q4K;Initial Catalog=WaterBottles;User ID=user1;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>